# --- KICAD ---
*.bak
*-bak
*.bck
*~
_autosave-*
*.tmp
*.lock
*.net
*.dcm
*.kicad_prl
fp-info-cache
Led_strips_under_bed_gerber/
Led_strips_under_bed-backups/

# --- ARDUINO ---
# Ignoruj foldery budowania (kompilacji)
build/
*.elf
*.hex
*.bin
*.map
